$background-color: #f7f7ff;
$text-muted : #6c757d;
$text-dark-muted : #4c555d;
@import "./library/bootstrap.min.css";
@import "./library/bootstrap-rtl.min.css";
@import "./library/sweetalert2.min.css";
@import "fonts";

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1366px;
    }
}




html {
    vertical-align: middle;
    overflow-x: hidden !important;
}

body, html {
    height: 100% !important;
    background-color: #f7f7ff;
    font-family: IRANSans, serif !important;
    direction: ltr;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


section {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "dana", serif;
    font-weight: 900;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    min-height: 70% !important;
}

.pagination, .dropdown-menu {
    * {
        font-family: IRANSans, serif;
    }
}

form label.error {
    color: #f02211;
    font-size: 12px !important;
    margin-top: 6px;
    margin-right: 8px;
}


.swal2-html-container {
    font-weight: bold;
    margin-bottom: 16px;
}

.main-row {
    margin-top: 74px;
    direction: rtl;
    overflow-x: hidden;
}


.space-from-nav {
    margin-top: 28px;
}


.rtl {
    direction: rtl;
}

.tags {
    font-size: 12px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ltr {
    direction: ltr;
}



.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none !important;
}


.custom-card {
    border-radius: 8px;
    background-color: white;
    box-shadow: -2px 3px 15px 3px rgba(180,200,210,0.5);
    border: none;
    padding: 12px 16px;
    margin-bottom: 16px;
    .card-header {
        background-color: #fefefe;
        text-align: center;
        border-bottom: #efefefaa;
    }
}


.modal-header {
    display: flex;
    justify-content: flex-start !important;
}

.open-in-waze-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 150%;
    }
}


.error-page {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;

    i {
        font-size: 150%;
    }

    i.warning-icon {
        font-size: 1200%;
        color: #F57F1720;
        vertical-align: middle;
        margin-bottom: 32px;
    }
}


#button-addon1 {
    color: #ffc371;
}


.form-control::placeholder {
    font-size: 0.95rem !important;
    color: #aaa !important;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

input, select {
    box-shadow: none !important;
    transition: all 0.4s;
    border-radius: 8px !important;

    &:focus {
        border-width: 2px !important;
        transition: all 0.7s;
    }

    &:disabled {
        cursor: not-allowed;
    }

}

button {
    &:disabled {
        cursor: not-allowed;
    }
}

.modal-content {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35) !important;
    background: #fff !important;
    border-radius: 10px !important;
    padding: 35px !important;
    transition: all .3s !important;
}

textarea {
    resize: none !important;
    border: 2px solid #dcdcdc !important;
    border-radius: 10px !important;
    padding: 15px 20px !important;
    color: #324e63 !important;
    font-weight: 500 !important;
    outline: none !important;
    transition: all .3s !important;

    &:focus {
        outline: none !important;
        border-color: #8a979e !important;
        box-shadow: none !important;
    }

}


#form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}


@import "set-user-info-style";
@import "profile-style";
@import "comment";
@import "navbar";
@import "image";
@import "like";
@import "notification";
@import "business";
@import "employment";
@import "discount";
@import "article";
@import "news";
@import "share";
@import "sweetalert";
@import "navtabs";
@import "message";
@import "video";
@import "dashboard";
@import "footer";
@import "slides";
@import "home";
@import "buttons";

//new
@import "author";
@import "categories-card";
@import "relateds";
@import "dropzone";
@import "select2";
@import "scrollbar";
@import "over-on-videos";
@import "user";
