@import "loading";
@import "style";
@import "../dropzone";

ul.pagination {
    display: inline-flex;
    margin: auto auto;
}

.pagination {
    justify-content: center !important;
}

#cke_1_contents {
    height: 480px !important;
}

.swal2-confirm {
    padding: 8px 16px !important;
}

.th-sort {
    cursor: pointer;
    background-color: #e0f0ff !important;
}


input:focus {
    :invalid {
        border-color: red;
    }
}

.close-modal-btn {
    cursor: pointer;
    font-size: 16px;
    margin: 4px 4px 0 0;
    padding: 4px;
    border-radius: 100px;
    max-width: 20px;
    display: inline !important;
    color: #d77;
    background-color: #00000020;

    &:hover {
        color: #d00;
    }
}

#toggle-password-visiblity {
    float: left;
    position: relative;
    top: -27px;
    left: 20px;
}

.select-in-modal-filter {
    border-right: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container {
    z-index: 100000;
}

.select2 {
    width: 100% !important;
}

.select2-selection--single {
    height: 36px !important;
}

.input-group-text-select-in-modal-filter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.request-item {
    padding: 16px 8px 16px 8px;
    box-shadow: 1px 2px 4px 2px #ededed;
    border-radius: 8px;
}


// comments

.reply-comment-container {
    display: none;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #F34621;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFDDDD;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.bootstrap-tagsinput .badge {
    margin-right: 6px !important;
    margin: 3px 0;

}

.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 0px !important;
    margin-right: 4px;
}

.bootstrap-tagsinput .badge-info {
    background-color: #efefef !important;
    border: 1px solid #cfcfcf;
    color: #022;
}

.bg-card-receive-message {
    background-color: #ffffe0;
    margin-right: 28px;
}

.bg-card-sned-message {
    background-color: #e0f8e0;
    margin-left: 28px;
}


.circle-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 14px;
    width: 22px;
    height: 22px;
    font-weight: 500;
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-outline-light {
    &:hover {
        color: #0c0c0c !important;
    }
}

input {
    color: #022 !important;
}

input::placeholder {
    font-size: 15px !important;
}

/* end switch button */


// sweetalert 2
.swal2-rtl .swal2-close {
    right: 0 !important;
    left: auto !important;
}

.swal2-title {
    font-size: 17px !important;
}

#swal2-content {
    font-size: 15px;
}

.footer-settings {
    i {
        padding-left: 6px;
        color: #323;
        font-size: 135%;
        vertical-align: middle;

        &:hover {
            color: #443;
        }
    }

    i.fa-youtube {
        color: #d00;
    }

    i.fa-facebook {
        color: darkblue;
    }

    i.fa-pinterest {
        color: #c00;
    }

    i.fa-instagram {
        color: #ee0058;
    }

    i.fa-vimeo {
        color: #1ab7ea;
    }

    i.fa-twitter {
        color: #4267b2;
    }

    i.fa-linkedin {
        color: #0077b5;
    }

    i.fa-telegram {
        color: #0088cc;
    }

    i.fa-tape {
        color: #b01140;
    }


}

// comment

.comment-container {
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 8px;
    padding: 8px 4px;
    margin: 8px 2px;
    width: 100%;


    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .comment-avatar {
            justify-content: center;
            align-items: center;
            padding: 8px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 8px;
            }
        }

        .comment-body {
            padding: 8px 16px;
            min-width: 75%;
            flex-shrink: 0;
            flex-grow: 1;

            .comment-detail {
                display: flex;
                padding: 4px 8px;
                margin-bottom: 8px;
                justify-content: space-between;
                width: 100%;
                border-bottom: 1px solid #d0d0d0;

                div {
                    span {
                        i {
                            opacity: 0.8;
                            transition: 0.2s;
                            margin: 2px 4px;
                            padding: 8px;
                            border: 1px solid rgba(0, 0, 0, 0);

                            &:hover {
                                border: 1px solid rgba(200, 208, 202, 0.8);
                                border-radius: 100%;
                                transition: 0.3s;
                                opacity: 1;
                            }
                        }

                    }

                }

            }

        }

    }


}

.categories-card {
    padding: 16px;

    .category-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eeeeef;
        padding: 0 8px;
        border-radius: 4px;
        &:hover {
            background-color: #dfdfdf;
        }

        .icon {
            margin-right: 24px;
            padding: 8px;
            cursor: pointer;
        }

        label {
            font-size: 15px;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 4px;
            margin-bottom: 8px;
        }

        label.active {
            color: #20A0AA;
        }


        .parent-category-icon {
            vertical-align: middle;
            font-size: 70%;
            color: #445;
        }

    }

    .childs-container {
        display: none;
        padding-right: 24px;
        border-right: 1px solid #ffffffcc;
    }

}




