html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}



.w30 {
  width: 30px;
}

.w35 {
  width: 35px;
}


.w50 {
  width: 50px;
}

.w75 {
  width: 75px;
}

.w100 {
  width: 100px;
}

.w125 {
  width: 125px;
}

.w150 {
  width: 150px;
}

.w175 {
  width: 175px;
}

.w200 {
  width: 200px;
}

.w225 {
  width: 225px;
}

.w100p {
  width: 100% !important;
}

.w50p {
  width: 50%;
}

.w40p {
  width: 40%;
}

.w20p {
  width: 20%;
}

.m-w300 {
  min-width: 300px;
}

.m-w350 {
  min-width: 350px;
}

.m-w200 {
  min-width: 200px;
}

.w240 {
  width: 240px;
}

.h40 {
  height: 40px;
}

.h240 {
  height: 240px;
}

/* margin */

.m8 {
  margin: 8px;
}

.m10 {
  margin: 10px;
}

.m12 {
  margin: 12px;
}

.m16 {
  margin: 16px;
}

.m20 {
  margin: 20px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt36 {
  margin-top: 36px;
}

.mt40 {
  margin-top: 40px;
}

.mt72 {
  margin-top: 72px;
}

.mt100 {
  margin-top: 100px;
}

.mt125 {
  margin-top: 125px;
}

.mt150 {
  margin-top: 150px;
}

.mrbl16 {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}


.mb6 {
  margin-bottom: 6px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mrl4 {
  margin-right: 4px;
  margin-left: 4px;
}

.mrl8 {
  margin-right: 8px;
  margin-left: 8px;
}

.mrl12 {
  margin-right: 12px;
  margin-left: 12px;
}

.mrl16 {
  margin-right: 16px;
  margin-left: 16px;
}

.mrl24 {
  margin-right: 24px;
  margin-left: 24px;
}

.mrl32 {
  margin-right: 32px;
  margin-left: 32px;
}


/* margin Right */

.mr4 {
  margin-right: 4px;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.mr32 {
  margin-right: 32px;
}

.mr64 {
  margin-right: 64px;
}

.mr78 {
  margin-right: 78px;
}

.mr84 {
  margin-right: 84px;
}

.mr92 {
  margin-right: 92px;
}

.mr100 {
  margin-right: 100px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}


.mb4 {
  margin-bottom: 4px;
}


.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.mb160 {
  margin-bottom: 160px;
}

.mb170 {
  margin-bottom: 170px;
}

.m180b {
  margin-bottom: 180px;
}

/* padding */
.p2 {
  padding: 2px !important;
}

.p4 {
  padding: 4px !important;
}

.p6 {
  padding: 6px !important;
}

.p8 {
  padding: 8px !important;
}

.p10 {
  padding: 10px !important;
}

.p16 {
  padding: 16px !important;
}

.pt16 {
  padding-top: 16px;
}

.ptb4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ptb8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ptb12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ptb16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.prl4 {
  padding-right: 4px;
  padding-left: 4px;
}

.prl8 {
  padding-right: 8px;
  padding-left: 8px;
}

.prl16 {
  padding-right: 16px;
  padding-left: 16px;
}

.prl24 {
  padding-right: 24px;
  padding-left: 24px;
}

.prl32 {
  padding-right: 32px;
  padding-left: 32px;
}

.prl64 {
  padding-right: 64px;
  padding-left: 64px;
}

.pr10 {
  padding-right: 10px;
}

.pr16 {
  padding-right: 16px;
}

.pr32 {
  padding-right: 32px;
}

.pl16 {
  padding-left: 16px;
}

.pl32 {
  padding-left: 32px;
}

.pl40 {
  padding-left: 40px;
}

.pl46 {
  padding-left: 46px;
}

.pt6 {
  padding-top: 6px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb6 {
  padding-bottom: 6px;
}

.pb8 {
  padding-bottom: 8px;
}
.pb16 {
  padding-bottom: 16px;
}


.border {
  border: 1px solid #c0c0ff;
}

.radius-circle {
  border-radius: 100%;
}

/* font size */

.font-size-400p {
  font-size: 400%;
}

.font-size-350p {
  font-size: 350%;
}

.font-size-300p {
  font-size: 300%;
}

.font-size-250p {
  font-size: 250%;
}

.font-size-200p {
  font-size: 200%
}

.font-size-175p {
  font-size: 175%
}

.font-size-150p {
  font-size: 150%
}


.font-size-12px {
  font-size: 12px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-17px {
  font-size: 17px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-22px {
  font-size: 22px;
}


.gold {
  color: gold;
}

.lightgrey {
  color: lightgrey;
}

.gray {
  color: #797979;
}


.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.float-left {
  float: left;
}



.ltr {
  direction: ltr !important;
}

.pointer {
  cursor: pointer;
}

.font-weight-normal {
  font-weight: normal !important;
}

.m2b-for-table {
  border-spacing: 0px 8px;
}


.prevent-select-text {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.modal {
  z-index: 9999;
}

.modal-header button {
  margin-left: 8px !important;
}

.modal-header h4 {
  width: 100%;
  font-size: 20px !important;
  font-weight: 700;
}
